* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: rgb(46, 46, 168);
  color: white;
  box-sizing: border-box;
  padding: 0px 100px;
  text-align: center;
}
.container > h1 {
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  margin-bottom: 15px;
}
.photo-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  border: 2px solid rgb(104, 100, 100);
  border-radius: 3px;
  align-items: center;
  padding: 10px;
}
.photos {
  height: 100px;
  object-fit: cover;
}
.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(18, 18, 44);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
